.thmnl-container {
    display: inline-block;
    margin: 1em;
    line-height:4em;
    box-shadow: 0 1px 4px 1.5px rgba(100,100,100,0.2);
    padding: 3em 5em;
    border-radius: 5px;
    line-height: 2em;
    background-color: #FFFFFF;
}

.detail{
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 0.3em 1em;
    transition: all 200ms ease-in-out;
    color: #000000;
    padding: 0.3em 2.2em;
    margin-bottom: 20px;

}

.detail:hover {
    color: white;
    background-color: #0077FF;
    border: 1px solid white;
}

.detail:focus{
    outline:none;
}

.thmnl-content div {
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
}

.join-button {
    display: flex;
    justify-content: center;
    margin: 30px auto;

}

.join-button a {
    padding: 1px 8px;
    background-color: #265CFF;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    transition: all 250ms ease-in-out
}

.join-button a:hover {
    transform: scale(1.1);    
}

.join-button a:focus{
    outline: none;    
}
