.join-button {
    display: flex;
    justify-content: center;
    margin: 30px auto;

}

.join-button a {
    padding: 1px 8px;
    background-color: #265CFF;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    transition: all 250ms ease-in-out
}

.join-button a:hover {
    transform: scale(1.1);    
}

.join-button a:focus{
    outline: none;    
}

