html {
    overflow:   scroll;
}  

::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
}

.router-component {
    margin-top: 4rem;
}

body {
    background-color: #F6F3EC;
}

div p {
    text-align: center;
    font-weight: 300;
    padding: 0;
    margin: 0;
}
